<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Markpad</title>
	<script src="js/lib/angular.min.js" type="text/javascript"></script>
	<script src="js/ajax.model.js" type="text/javascript"></script>
	<script src="js/base.js" type="text/javascript"></script>
	<script src="js/dontpadapi.js" type="text/javascript"></script>
	<script src="js/markpadmodel.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
	<script type='text/javascript'>

		$(document).ready(function(){

			$("[data-selector='button-jquery']").click(function(){
				var dontpad_url = 'http://dontpad.com/'+ $('[data-selector="dontpad-url"]').val();
				var dontpad_text = $('[data-selector="dontpad-text"]').val();

				console.log(dontpad_url);
				console.log(dontpad_text);

				$.ajax({
					type: "POST",
					dataType: 'text',
					url: dontpad_url,
					crossDomain : true,
					xhrFields: {
						withCredentials: true
					}
				})
				.done(function( data ) {
					console.log("done");
				})
				.fail( function(xhr, textStatus, errorThrown) {
					console.log(xhr.responseText);
					console.log(textStatus);
				});

			});		

		});


	</script>	
</head>
<body ng-app="markpad" ng-controller="indexController">
<!-- 	<input type="text" ng-model="mpm.dontpadUri" placeholder="Para qual url do markpad você quer enviar seu texto?">
	<input type="text" ng-model="mpm.contentToPost" placeholder="Digite seu texto">
	<button ng-click="mpm.postToDontpad()" ng-disabled="mpm.enviandoConteudoDontpad === true || mpm.hasDataToPost() === false">Enviar para dontpad.com/{[{mpm.dontpadUri}]}</button>
	<p ng-if="mpm.enviadoComSucesso">
		<span>Vai lá em </span>
		<a href="http://dontpad.com/{[{mpm.dontpadUri}]}">
			http://dontpad.com/{[{mpm.dontpadUri}]}</a>
		<span>pra ver.</span>
	</p> -->

	<div>

		tentando o mesmo request com jquery
		<input type='text' placeholder="seu texto" data-selector='dontpad-text'>
		<input type='text' placeholder="url do seu dontpad" data-selector='dontpad-url'>
		<button data-selector='button-jquery'>
			enviar
		</button>
	</div>



</body>
</html>